@charset "UTF-8";
html {font-family: sans-serif;}
html * {box-sizing: border-box;}

body {
    margin: 0 0 0 0;
/*     background-color:  rgb(223, 243, 107); */
    background-image:  url(../images/background.jpg);
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 1000px;
}
#logo {
	margin: 0;
    text-align: start;
}

#log {
    text-align: right;
    margin: 10px 100px 0 30px;
}

h2 {
    color: #004080;
    font-size: 22px;
    border-bottom: 3px dotted #004080;
    margin-top: 20px 0px 20px 0px;
    padding-top: 10px 10px 10px 10px;
}


h3 {
  color: #a3060c;
}

a {
	text-decoration:none;
}

a:link {color: #004080;}
a:visited {color: #004080;}
a:hover {color: cadetblue;}
a:active {color: #a3060c;}
img {border-style: none;}

button {
/*     width: 100%; */
/*     height: 50px; */
    background-color: #004080;
	color: #ffffff;
	border-radius:30px;
	border-color: #004080;
}

button:hover{
	background-color: cadetblue;
	color: #ffffff;
}

button:active{
	background-color: #ffffff;
	color: cadetblue;
}

#error_message {
	color: red;
}
.menu-btn {
    position: fixed;
    top: 15px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #a3060c;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #004080;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;/*[position: fixed]の固定を外す*/
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #004080;/*背景色変更*/
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 80%;/*メニューを画面内へ*/
}

/*検索機能欄*/
.search1 input[name=title] {
    width: calc(100% - 4em);
    height: 2.5em;
}

.search1 input[name=submit] {
    width: 3em;
}

.roulette {
	 text-align: right;
	 margin: 30px;
}
.search {
	display: flex;
	padding: 20px 8px;
}
.search1 {
	margin: 10px;
    width: 100%;
}
.search1 table {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
}
.search1 th {
    width: 100px;
}
.search select {
    width: calc(100% - 4em);
}

.search2 {
    margin-left: auto;
}
.search2 button {
  background-color: #01010100;
  border: 0px;
  text-decoration: none;
}
.search2 button:hover {
    background-color: #c6e872;
}
.search-btn {
	margin: 15px;
}