@charset "UTF-8";
html {font-family: sans-serif;}
html * {box-sizing: border-box;}

body {
    margin: 0 0 0 0;
    background-color:  #c6e872;
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 700px;

}

#logo {
  text-align: start;
}

h2 {
    color: #056334;
    font-size: 22px;
    border-bottom: 3px dotted #056334;
    margin-top: 20px 0px 20px 0px;
    padding-top: 10px 10px 10px 10px;
}


h3 {
  color: #a3060c;
  font-family: serif;
  text-align: right;
}


a:link {color: #056334;}
a:visited {color: #056334;}
a:hover {color: #09a858;}
a:active {color: #a3060c;}
img {border-style: none;}

#error_message {
	color: red;
}
/* id="nav" */
#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
  }
  #nav {
    margin: 0 0 0 0;
    padding: 15px 30px 12px 30px;
    background-image: url(../images/menu-bg.png);
  }
  #nav li a:link {
    color: #056334;
    text-decoration: none;
  }
  #nav li a:visited {
    color: #056334;
    text-decoration: none;
  }
  #nav li a:hover {
    color: #09a858;
    text-decoration: none;
  }
  #nav li a:active {
    color: #a3060c;
    text-decoration: none;
  }

  .header {
  z-index: 30;/*重なり優先度一番*/
  background-color:black;
  position: fixed;
  position: absolute;
  top: 0; /*上に固定*/
  width: 100%;
  height: 52px;
  position: sticky;/*スクロール時メニューバー固定*/
  top: 0px;
}
/* メニューバー設定 */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);

  /*ハンバーガーメニューバーのアニメーション設定*/

  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;/*アニメーションの速度*/
  transform: scale(1, 0); /*高さ、幅のモーション*/
  transform-origin: top;  /*要素変形の起点*/
}

/* ハンバーガーメニューバーのボタン設定*/
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* ハンバーガーメニューバーの文字 */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid rgb(75, 75, 75);
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}
