@charset "UTF-8";

/* .contact-box { */
/* 	background-color: #ffffff; */
/*     border: 3px double #a3060c; */
/*     position:relative; */
/*     margin:0 auto 0 auto; */
/*     padding:20px; */
/*     max-width:1000px; */
/* } */

/* ロゴ */
#logo {
	text-align: left;
}

/* お問い合わせ */
#contact_body {
	height: 1000px;
}

#contact_table {
	background-color: #ffffff;
    border: 3px double #a3060c;
	margin: auto;
/* 	border: 1px solid black; */
}

#explain {
	text-align: center;
}

#ct_items {
	margin: auto;
	padding: 20px;
}