@charset "UTF-8";

#explain {
	text-align: center;
}

/* フォロー一覧 */
#follow_table {
	margin: auto;
	border: 1px solid black;
}

/* フォロワー一覧 */
#follower_table {
	margin: auto;
	border: 1px solid black;
}