@charset "UTF-8";

/* ページの長さ */
.fbody {
	height: 1100px;
}

/* フォロー/フォロワーをタブ切り替え */
			.area {
				width: 800px;
				margin: auto;
				flex-wrap: wrap;
				display: flex;
			}

			.tab_class {
				width: calc(100%/2);
				height: 50px;
				background-color: darkgrey;
				line-height: 50px;
				font-size: 15px;
				text-align: center;
				display: block;
				float: left;
				order: -1;
			}
					/* ラジオボタン非表示 */
			input[name="tab_name"] {
			  display: none;
			}
					/* 選択されたタブの背景と文字色 */
			input:checked + .tab_class {
			  background-color: cadetblue;
			  color: aliceblue;
			}
					/* コンテンツを一旦非表示 */
			.content_class {
			  display: none;
			  width: 100%;
			  background-color: white;
			}
					/* 選択されたタブのコンテンツを表示 */
			input:checked + .tab_class + .content_class {
			  display: block;
			  background-color: cadetblue;
			}

/* フォロー/フォロワーテーブル */
.follow_table{
	border-collapse: collapse;
	margin: auto;
	height: 450px;
	width: 650px;
	background-color: #e9efd5;
	overflow: auto;
}

div#table {
	height: 500px;
	margin: auto;
}

#follow_body{
	width: 700px;
	height: 450px;
}

.follow_table th, .follow_table td{
	border: 1px solid #715c1f;
	text-align: center;
	}

#table.follow_table tr.data_row:hover {
	 	background-color: darkgrey;
	}

.follow_table #icon {
	width: 120px;
}
.follow_table #name {
	width: 120px;
}
.follow_table #pf {
	width: 265px;
	text-align: left;
}
.follow_table #bottun {
	width: 145px;
}


