@charset "UTF-8";
.post-box {
	background-color: #ffffff;
    border: 3px double #a3060c;
    position:relative;
    margin:0 auto 0 auto;
    padding:20px;
    max-width:1000px;
}

/* .circle{ */
/*   position: relative; */
/*   top: px; */
/*   width: 80px; */
/*   height: 80px; */
/*   border-radius:50%; */
/*   backgroung-color:#fff; */
/* } */

.post-btn {
    position: relative;
    overflow: hidden;
    background:no-repeat url("../images/post.png");
    background-size: contain;
    width:205.5px;
    height:53px;
    left: 80%;
}

.post-btn:hover{
    overflow: hidden;
    background:no-repeat url("../images/post2.png");
    background-size: contain;
    width:205.5px;
    height:53px;
}

.post-contents {
	left: 20px;
}


