@charset "UTF-8";
.post-box {
	background-color: #ffffff;
    border: 3px double #a3060c;
    margin-right: 40px;
    margin-left: 40px;
    padding: 20px;
}





.post-contents {
	left: 20px;
}
/*#text {
	left: 20px;
	width: 80em;
	height: 30em;
}*/

