@charset "UTF-8";

/* メインブロックを囲む線 */
 main {
    background-color: #ffffff;
    border: 3px double #a3060c;
    margin-right: 40px;
    margin-left: 40px;
    padding: 20px;
    width: 1000px;
 }

.log {
	left: 70%;
}

/* プロフィール背景のヘッダー画像。m_userのuser_hd を引用予定 */
.myprofile {
  background-image: url("../images/pf_hd.png");
  background-repeat: no-repeat;
}
.userprofile {
  background-image: url("../images/pf_hd.png");
  background-repeat: no-repeat;
}

/*マイ・ユーザーページのプロフィール部分のスタイル*/
.myprofile, .userprofile {
	position:static;
	top: 50px;
	bottom:50px;
	left:50px;
	right:50px;
}
#username, #reply_username {
	font-weight:bold;
}
/*編集ボタンの位置*/
#pf_edit {
	padding: 0px 0px 0px 380px;
}


/*マイ・ユーザーページのレビュー投稿等のテーブル、枠線のスタイル*/
table {
	margin: 0 auto;
	text-align: left;
	width: 1000px;
}
hr {
	border: 1px solid #a3060c;
}
#review_tag, #reply_tag, #stamp_tag, #userreview_tag{
	margin:0px 50px;
	background-color: #07964f;
	text-align: center;
}
#userreview_tag{
	margin:0px 0px 0px 400px;
}
#review_list, #reply_list, #stamp_list, #userreview_list{
	height: 350px;
	overflow: auto;
}
#review_video, #review_time, #reply_time{
	background-color: #c6e872;
}
#review_genre, #review_feelcat1, #review_feelcat2{
	border: 1px solid #f8343e;
}

/*ユーザーページのフォローボタン位置*/
#follow_Lift {
	text-align: right;
}


/*リプライテーブル(ポップアップ)のスタイル */

/*リプライポップアップ表示*/


/*リプライポップアップ表示*/

.open {
    cursor:pointer;
}
#popup {
    display: none;
}
.overlay {
    display: none;
}
#popup:checked + .overlay {
    display: block;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window {
    width: 90vw;
    max-width: 380px;
    height: 200px;
    background-color: #7fff7f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    font-size: 25px;
    margin: 0;
    color: #fcfff9;
}
.close {
    cursor:pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
}


/*プロフィール変更テーブルのボタン位置*/
#editbutton, #confilmButton {
	text-align: center;
}

