@charset "UTF-8";

body {
	border: 1px;
}

.myprofile {
  background-image: url("./images/pf_hd.png");
  background-repeat: no-repeat;
}
/* m_userのuser_hd ヘッダーを引用 */

.userprofile {
  background-image: url("./images/pf_hd.png");
  background-repeat: no-repeat;
}