@charset "UTF-8";

/* メインブロックを囲む線 */
 main {
    background-color: #ffffff;
    border: 3px double #a3060c;
    position:relative;
    margin:0 auto 0 auto;
    padding: 20px;
    width: 1000px;
 }

/* プロフィール変更ページのログアウトロゴ位置 */
.log {
	left: 70%;
}


/*マイ・ユーザーページのプロフィール部分のスタイル*/
.myprofile, .userprofile {
	position:static;
	top: 50px;
	bottom:50px;
	left:50px;
	right:50px;
}
.user {
	font-weight:bold;
}

/*マイページ編集ボタンの位置*/
.pf_edit {
	padding: 0px 0px 0px 800px;
}

/*マイ・ユーザーページのレビュー投稿等のテーブル、枠線のスタイル*/
table {
	margin: 0 auto;
	text-align: left;
	width: 800px;
}
hr {
	border: 1px solid #a3060c;
}
#review_tag, #reply_tag{
	margin:0px 130px;
	background-color: #09b35e;
	text-align: center;
}
#userreview_tag{
	margin:0px 0px 0px 300px;
	background-color: #09b35e;
	text-align: center;
}
#review_list, #reply_list, #stamp_list, #userreview_list{
	height: 350px;
	overflow: auto;
}

/*ユーザーページのフォローボタン位置*/
#follow_Lift {
	text-align: right;
}

/*マイ・ユーザーページのリプライ位置*/
#user_reply {
	text-align: right;
	margin:0px 30px 0px 200px;
}

