@charset "UTF-8";
.ranking-box {
    border: 3px double #a3060c;
    margin:0 auto 0 auto;
    padding:20px;
    max-width:1000px;
}
.ranking {
    text-align: center;
    color: #056334;
}
.ranklist {
    padding-top: 2em;
    padding-bottom: 3em;
    width: 500px;
    margin: auto;
}
.list {
    border: 3px double #a3060c;
    list-style: none;
    margin:0 auto;
}
.rank {
    height: 30px;
    width: 30px;
}
.count {
	float:right;
	color:#056334;
	margin-right:10px;
	margin-top:5px;
	font-family:impact;
}