@charset "UTF-8";
.ranking-box {
	background-color: #ffffff;
    border: 3px double #a3060c;
    margin:0 auto 0 auto;
    padding:20px;
    max-width:1000px;
}

.ranking-page {
	text-align: center;
}

.ranking {
    text-align: center;
    color: #a3060c;
}
.ranklist {
    padding-top: 2em;
    padding-bottom: 3em;
    width: 750px;
    margin: auto;
}
.list {
    border: 3px double #a3060c;
    list-style: none;
    margin:0 auto;
}
.rank {
    height: 30px;
    width: 30px;
}
.count {
	float:right;
	color:#004080;
	margin-right:40px;
	margin-top:5px;
	font-family:impact;
	font-size:120%;
}
.grade0 {
	font-size:1.5em;
}
.grade1 {
	font-size:1.3em;
}