@charset "UTF-8";

/* 新規会員登録ページ全体 */
#register_body {
	text-align: center;
	height: 1000px;
}

/* 新規会員登録フォームテーブル */
#register_table {
	margin: auto;
}

#register_table td {
	padding: 10px;
}

#explain {
	text-align: center;
}