@charset "UTF-8";

.border1{
 	background-color: #ffffff;
    border: 3px double #a3060c;
    position:relative;
    margin:0 auto 0 auto;
    padding:20px;
    max-width:1000px;
}


.table{
  position: relative;
}

hr {
	border: 1px solid #a3060c;
}

.circle{
  position: relative;
  top: 115px;
  width: 80px;
  height: 80px;
  border-radius:50%;
  backgroung-color:#fff;
}

.user{
  position: relative;
  top: 10px;
  left: 90px;
}

.video{
  position: relative;
  top: 10px;
  left: 100px;
}

.time{
  position: relative;
  top: 10px;
  left: 370px;
}

.review{
display: inline-block;
position: relative;
left:90px;
width: 463%;
height: 50px;
}

#image_file{
position:relative;
left: 380px;
top: 15px;
}

#reply{
position: relative;
left: 745px;
top: 15px;
}
/*星表示*/
.open {
    cursor:pointer;
}
#popup {
    display: none;
}
.overlay {
    display: none;
}
#popup:checked + .overlay {
    display: block;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window {
    width: 90vw;
    max-width: 380px;
    height: 200px;
    background-color: #7fff7f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    font-size: 25px;
    margin: 0;
    color: #fcfff9;
}
.close {
    cursor:pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
}