@charset "UTF-8";
html {font-family: sans-serif;}
html * {box-sizing: border-box;}

body {
    margin: 0 0 0 0;
    background-color:  #c6e872;
}

.wrapper {
    margin: 0 auto 0 auto;
    max-width: 700px;

}

#logo {
  text-align: start;
}

h2 {
    color: #056334;
    font-size: 22px;
    border-bottom: 3px dotted #056334;
    margin-top: 20px 0px 20px 0px;
    padding-top: 10px 10px 10px 10px;
}


h3 {
  color: #a3060c;
  font-family: serif;
  text-align: right;
}


a:link {color: #056334;}
a:visited {color: #056334;}
a:hover {color: #09a858;}
a:active {color: #a3060c;}
img {border-style: none;}

#error_message {
    color: red;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #a3060c;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #056334;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;/*[position: fixed]の固定を外す*/
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #056334;/*背景色変更*/
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 80%;/*メニューを画面内へ*/
}

input[name=text]        {width: 30em; height: 2.5em;}




/* 共通ここまで */

.border1{
 border: solid 3px #000000;
 position:relative;
 left:50px;
 width:85%;
}


.table{
  position: relative;
  left: 90px;
  bottom: 30px;
}


.circle{
  position: relative;
  top: 115px;
  width: 80px;
  height: 80px;
  border-radius:50%;
  backgroung-color:#fff;
}

.user{
  position: relative;
  top: 10px;
  left: 90px;
}

.video{
  position: relative;
  top: 10px;
  left: 100px;
}

.time{
  position: relative;
  top: 10px;
  left: 370px;
}

.review{
display: inline-block;
position: relative;
left:90px;
width: 463%;
height: 50px;
}

#image_file{
position:relative;
left: 380px;
top: 15px;
}

#reply{
position: relative;
left: 745px;
top: 15px;
}
/*星表示*/
.open {
    cursor:pointer;
}
#popup {
    display: none;
}
.overlay {
    display: none;
}
#popup:checked + .overlay {
    display: block;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window {
    width: 90vw;
    max-width: 380px;
    height: 200px;
    background-color: #7fff7f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    font-size: 25px;
    margin: 0;
    color: #fcfff9;
}
.close {
    cursor:pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
}